{% assign section_header = 'customization.cart.title' | t %}

<div class="kit-section">
  {% render 'component-section-header', section_title: section_header, price_value: '132,98€' %}
  <div>
    <button>
        {{ 'customization.cart.button.title' | t | upcase }}
    </button>
  </div>
</div>
