<label class="radio-option {{ style }} {% if disabled %}is-disabled{% endif %} {% if active %}is-active{% endif %}">
  <input
    type="radio"
    name="{{ name }}"
    value="{{ value }}"
    {% if active %}
      checked
    {% endif %}
    {% if disabled %}
      disabled
    {% endif %}
  >
    {% if icon != blank %}
      {% comment %} Pending add Icon {% endcomment %}
    {% endif %}
  <span>{{ title }}</span>
</label>
